<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoundWave</title>
  </head>
  <body>
    <form action="#" method="POST">
      <div>
        <label for="url">Paste the URL from YouTube video: </label>
        <input type="text" name="url" />
      </div>
      <div>
        <button type="submit">Add</button>
      </div>
    </form>
    <h2>Your Songs</h2>
  </body>
</html>
